<div class="container">
  <h1>Card</h1>
  {{#if courses.length}}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Count</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <td>{{title}}</td>
            <td>{{count}}</td>
            <td>
              <button class="btn btn-small">delete</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <p>
      <strong>
        Price
      </strong>
      <span class="price">
        {{ price }}
      </span>
    </p>
  {{else}}
    <p>Card is empty</p>
  {{/if}}
</div>
